button {
    padding: 1em 1.2em;
    font-size: 1.2rem;
    border: none;
    background-color: white;
    margin: auto;
    transition: all 0.3s;
    border-radius: 0.5em;
}

button:hover {
    scale: 1.1;
}
