.active {
    padding: 1em 1.2em;
    font-size: 1.2rem;
    border: none;
    background-color: white;
    transition: all 0.3s;
    border-radius: 0.5em;
}

.active:hover {
    scale: 1.1;
}

.disabled {
    pointer-events: none;
    background-color: gray;
    padding: 1em 1.2em;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5em;
}
